/* Target styling*/
.target-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.target {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.ring-0 {
  width: 100%;
  height: 100%;
  background-color: #0C2340;
}

.ring-1 {
  width: 80%;
  height: 80%;
  background-color: #0A2355;
}

.ring-2 {
  width: 60%;
  height: 60%;
  background-color: #06268A;
}

.ring-3 {
  width: 40%;
  height: 40%;
  background-color: #042B96;
}

.ring-4 {
  width: 20%;
  height: 20%;
  background-color: #003087;
}

.selected-ring{
  transform: scale(1.1);
  background-color: #c99700;
}

.ring:hover{
  transform: scale(1.1);
  background-color: #c99700;
}
