body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
h1{
  color:blue;
}
.gen-row{
  display: flex;
  flex-direction: row;
}
.gen-col{
  display: flex;
  flex-direction: column;
}
.player-container{
  display: flex;
  flex-direction: row;
}
.player{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
}